* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #333;
    color: #fff;
}

header {
    display: flex;
    justify-content: center;
    background-color: #1c1c1c;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
}

#logo {
    margin-right: auto;
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    
}

nav ul li {
    margin-right: 20px;
    
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #C5A647;
}

.barra-pesquisa {
    position: relative;
    display: inline-block;
}

.barra-pesquisa input[type="text"] {
    padding: 8px 30px 8px 8px;
    border: none;
    border-radius: 4px;
}

.barra-pesquisa .botao-pesquisa {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
}

.barra-pesquisa .icone-lupa {
    width: 20px;
    height: auto;
}

.search-section {
    margin-top: 40px;
    text-align: center;
}

.image_movie{
    width: 45%;
    height: 45%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    cursor:pointer;
}

.image_movie:hover{
    transform: scale(1.05); 
}

.no_image_movie{
    width: 60%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    cursor:pointer;
}

.no_image_movie:hover{
    transform: scale(1.05); 
}

.image_botao{
    border: none;
    background:transparent;
    
}

.column {
    display: inline-block;
    margin: 0 20px 20px 0;
    vertical-align: top;
    width: calc(25% - 20px);
    box-sizing: border-box;
}

h2{
    margin-top: 80px;
    margin-left: 120px;
    font-size: 22px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}