* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #333;
    color: #fff;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #1c1c1c;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
}

.nav-search-container {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #C5A647;
}

.home {
    vertical-align: -7px;
}

.icone-perfil {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.botao_logo {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
}

.barra-pesquisa {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

.barra-pesquisa input[type="text"] {
    padding: 8px 30px 8px 8px;
    border: none;
    border-radius: 4px;
}

.barra-pesquisa .botao-pesquisa {
    position: absolute;
    top: 55%;
    right: 3px;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
}

.barra-pesquisa .icone-lupa {
    width: 20px;
    height: auto;
}

.search-section {
    margin-top: 40px;
    text-align: center;
}

.image_botao {
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_movie, .no_image_movie {
    display: block;
    width: 70%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    cursor: pointer;
    justify-content: center;
}

.image_movie:hover, .no_image_movie:hover {
    transform: scale(1.05);
}

.column {
    display: inline-block;
    margin: 0 20px 20px 0;
    vertical-align: top;
    width: calc(25% - 20px);
    box-sizing: border-box;
}

h2{
    margin-top: 80px;
    margin-left: 120px;
    font-size: 22px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    color: #fff;
    padding: 8px 16px;
    transition: background-color 0.3s;
    margin: 0 2px;
}

.pagination a.active {
    background-color: #C5A647;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #575757;
    border-radius: 5px;
}