body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Define a altura do body para 100% da altura da viewport */
    margin: 0; /* Remove a margem padrão */
}

.container {
    display: flex;
    flex-direction: column; /* Define a direção do flex como coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    width: 30%;
    height: 80%;
    background-color: #1c1c1c;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.foto img {
    width: 100px; /* Define uma largura adequada para a imagem */
    margin-top: 20px;
    border-radius: 50%; /* Faz a imagem ficar circular */
    
}

h3 {
    margin-bottom: 20px; /* Adiciona espaço abaixo do título */
}

form {
    display: flex;
    flex-direction: column; /* Faz os inputs dentro do form ficarem um embaixo do outro */
    width: 100%;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

p {
    font-size: 13px;
    align-self: flex-start;
}

a {
    width: 100%; /* Faz o link ocupar toda a largura disponível */
    display: flex; /* Torna o link um container flex */
    justify-content: flex-end; /* Alinha o botão à direita */
}

.confirma {
    padding:8px;
    cursor: pointer;
    background-color: #333;
    border: none;
    border-radius: 3px;
    color: white;
    transition: background-color 0.3s, transform 0.3s;
}

.confirma:hover{
    background-color: #575757;
    transform: scale(1.05);
}

.confirma:active {
    transform: scale(0.95);
}