/* Estilos gerais */
body {
    font-family: 'MedievalSharp', cursive;
    background: url('fundochat.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #f8f4e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#messages {
    width: 80%;
    max-width: 600px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 3px solid #d4af37;
    border-radius: 10px;
    padding: 15px;
    overflow-y: scroll;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#messages p {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #d4af37;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

#messages p:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.4);
}

input[type="text"] {
    width: calc(80% - 20px);
    max-width: 290px;
    padding: 10px;
    margin: 5px;
    border: 2px solid #d4af37;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #f8f4e3;
    box-sizing: border-box;
}

input[type="text"]::placeholder {
    color: #f8f4e3;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid #d4af37;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #f8f4e3;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #d4af37;
    transform: translateY(-2px);
}

@font-face {
    font-family: 'MedievalSharp';
    src: url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
}
