* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #333;
    color: #fff;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #1c1c1c;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
}

.nav-search-container {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #C5A647;
}

.home {
    vertical-align: -7px;
}

.icone-perfil {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.botao_logo {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
}

.barra-pesquisa {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

.barra-pesquisa input[type="text"] {
    padding: 8px 30px 8px 8px;
    border: none;
    border-radius: 4px;
}

.barra-pesquisa .botao-pesquisa {
    position: absolute;
    top: 55%;
    right: 3px;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
}

.barra-pesquisa .icone-lupa {
    width: 20px;
    height: auto;
}

.perfil {
    display: flex;
    justify-content: center;
    position: relative;
}

.foto-perfil {
    margin-top: 50px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.icone-perfil-grande {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.nome-perfil {
    margin-top: 65px;
    font-size: 25px;
}

.descricao-perfil{
    text-align: right;
}

.classe-perfil {
    font-size: 22px;
}

.retangulo {
    border-radius: 5px;
    overflow: hidden; /* Garante que a imagem fique dentro do retângulo */
    transition: transform 0.3s ease;
}

.retangulo img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.retangulo:hover {
    transform: scale(1.05); /* Aumenta o tamanho do retângulo quando o mouse está sobre ele */
}

.filme-section {
    margin-top: 50px;
}

.filme-container {
    margin-top: 10px;
    margin-left: 25px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem em várias linhas se necessário */
    text-align: center;
}

.favorito-item, .review-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 14px;
    max-width: 220px;
}

.filme-titulo {
    color: white;
    word-wrap: break-word;
    margin-top: 10px; /* Adicionado para garantir espaço entre a imagem e o título */
    text-decoration: none;
}

.image_botao{
    cursor: pointer;
    border: none;
    background: transparent;
}

.titulo-section {
    margin-left: 50px;
    
    .button-container {
        display: flex;
    }
}

.botao-logout {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #C5A647;
    color: #1c1c1c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao-logout:hover {
    background-color: #a38f30;
}

#show-more, #show-less {
    padding: 5px 10px;
    color: #fff;
    border: none;
    cursor: pointer;
}

#show-more-reviews, #show-less-reviews {
    padding: 5px 10px;
    color: #fff;
    border: none;
    cursor: pointer;
}