* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #333;
    color: #fff;
}

header {
    display: flex;
    justify-content: center;
    background-color: #1c1c1c;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
}

#logo {
    margin-right: auto;
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #C5A647;
}

.barra-pesquisa {
    position: relative;
    display: inline-block;
}

.barra-pesquisa input[type="text"] {
    padding: 8px 30px 8px 8px;
    border: none;
    border-radius: 4px;
}

.barra-pesquisa .botao-pesquisa {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
}

.barra-pesquisa .icone-lupa {
    width: 20px;
    height: auto;
}

.main-content {
    display: flex;
    padding: 80px;
    justify-content: space-between;
}

.movie-details {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    margin-right: 20px;
}

.imagem-filme {
    max-width: 300px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-info {
    max-width: 600px;
}

.avaliacao-geral {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 200px;
    flex-shrink: 0;
    align-self: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.avaliacao-geral h2 {
    margin-bottom: 10px;
}

.titulto-filme {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.imagem-filme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avaliacao-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avaliacao {
    display: flex;
    padding-left: 0;
}

.avaliacao.desabilitada .star-icon {
    pointer-events: none;
    opacity: 0.5;
}

.star-icon {
    list-style-type: none;
    cursor: pointer;
    color: #ffe500;
    font-size: 2em;
    transition: color 0.3s;
}

.star-icon::before {
    content: "\2606";
}

.star-icon.ativo::before {
    content: "\2605";
}

.avaliacao:not(.desabilitada) .star-icon:hover::before {
    content: "\2605";
}


.star-icon:hover::before {
    content: "\2605";
}

#btn-avaliar {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #1c1c1c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.avaliacao-enviada .star-icon {
    pointer-events: none;
    color: #ffe500;
    cursor: default;
    opacity: 0.8;
}