* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #333;
    color: #fff;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #1c1c1c;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
}

.nav-search-container {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #C5A647;
}

.botao_logo {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
}

.barra-pesquisa {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

.barra-pesquisa input[type="text"] {
    padding: 8px 30px 8px 8px;
    border: none;
    border-radius: 4px;
}

.barra-pesquisa .botao-pesquisa {
    position: absolute;
    top: 55%;
    right: 3px;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
}

.barra-pesquisa .icone-lupa {
    width: 20px;
    height: auto;
}

.main-content {
    display: flex;
    padding: 80px;
    justify-content: space-between;
}

.movie-details {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    margin-right: 20px;
}

.imagem-filme {
    max-width: 300px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-info {
    max-width: 600px;
}

.avaliacao-geral {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 200px;
    flex-shrink: 0;
    align-self: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.avaliacao-geral h2 {
    margin-bottom: 10px;
}

.titulto-filme {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.imagem-filme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avaliacao-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avaliacao {
    display: flex;
    padding-left: 0;
}

.avaliacao.desabilitada .star-icon {
    pointer-events: none;
    opacity: 0.5;
}

.star-icon {
    list-style-type: none;
    cursor: pointer;
    color: #ffe500;
    font-size: 2em;
    transition: color 0.3s;
}

.star-icon::before {
    content: "\2606";
}

.star-icon.ativo::before,
.star-icon.hover::before {
    content: "\2605";
}

#btn-avaliar, #submit-rating {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #1c1c1c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 10px;
    width: 150px;
    text-align: center;
}

#btn-avaliar:hover, #submit-rating:hover {
    background-color: #575757;
    transform: scale(1.05);
}

#btn-avaliar:active, #submit-rating:active {
    transform: scale(0.95);
}

#submit-rating{
    margin-top: 10px;
}

.avaliacao-enviada .star-icon {
    pointer-events: none;
    color: #ffe500;
    cursor: default;
    opacity: 0.8;
}

.elenco {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Ensures the content inside .elenco is aligned to the start (left) */
}

.button-container {
    align-self: flex-end; /* Aligns the buttons to the right */
    margin-top: 10px;
}

#show-more, #show-less {
    padding: 5px 10px;
    background-color: #1c1c1c;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#show-more:hover, #show-less:hover {
    background-color: #575757;
    transform: scale(1.05);
}

#show-more:active, #show-less:active {
    transform: scale(0.95);
}