* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #1c1c1c;
    color: #fff;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    position: absolute;
}

header{
    display: flex;
    justify-content: center;
}

#logo {
    margin-right: auto;
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    
}

nav ul li {
    margin-right: 20px;
    
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

nav ul li a:hover {
    color: #8800ff;
}

.barra-pesquisa {
    position: relative;
    display: inline-block;
}

.barra-pesquisa input[type="text"] {
    padding: 8px 30px 8px 8px;
    border: none;
    border-radius: 4px;
}

.barra-pesquisa .botao-pesquisa {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
}

.barra-pesquisa .icone-lupa {
    width: 20px;
    height: auto;
}

.retangulo {
    border-radius: 5px;
    margin: 10px;
    overflow: hidden; /* Garante que a imagem fique dentro do retângulo */
}

.retangulo img {
    width: 200px;
    height: 300px;
    object-fit: cover; 
}

.filme-section {
    margin-top: 50px;
    text-align: center;
}

.filme-container {
    margin-top: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que os itens quebrem em várias linhas se necessário */
}

.filme-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 14px;
}

.filme-titulo {
    color: white;
    text-align: center;
    max-width: 220px; /* Define a largura máxima do título para ser igual à largura do pôster */
    word-wrap: break-word; /* Garante que o título irá quebrar para uma nova linha se necessário */
    margin-top: 10px; /* Adicionado para garantir espaço entre a imagem e o título */
    text-decoration: none;
}


.backimg {
    width: 70%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    z-index: -1;
    position: relative;
    mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
}


.image_botao{
    cursor: pointer;
    border: none;
    background: transparent;
}

