<!DOCTYPE html>
<html lang="pt-br">
<head>                     
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="static/cadastro.css">
</head>
<body>
<main class="form_cadastro">
    <form action="/cadastro_usuario" method= "POST","GET">
        <h2>Cadastro</h2>
        <input type="text" name="username" placeholder="Nome" required>
        <input type="password" name="password" placeholder="Senha" required>
        <input type="submit" value="Cadastrar">
    </form>
</main>
</body>
</html>
