<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movies Tavern</title>
    <link rel="stylesheet" href="static/login.css">
</head>
<body>
    <div class="container">
        <div class="foto">
            <img src="static/chinchilla.png">
        </div>
        <h3>Welcome!</h3>
        <p>Username</p>
        <form class="nome-login" action="#" method="GET">
            <input type="text" name="user" placeholder="Enter your username..." required>
        </form>
        <p>Password</p>
        <form class="senha-login" action="#" method="GET">
            <input type="text" name="senha" placeholder="Enter your password..." required>
        </form>
        <a href="/perfil"><button class="confirma" type="submit">Confirm</button></a>
    </div>
</body>
</html>