<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movies Tavern</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='log-cadas.css') }}">
</head>
<body>
    <div class="container">
        <div class="foto">
            <img src="{{ url_for('static', filename='chinchilla.png') }}">
        </div>
        {% if 'user_id' in session %}
            <h3>Already registered as {{ session['user_id'] }}!</h3>
            <a href="{{ url_for('perfil') }}"><button class="confirma" type="button">Go to Profile</button></a>
        {% else %}
            <h3>Welcome!</h3>
            <p>Username</p>
            <form class="nome-login" action="{{ url_for('login') }}" method="POST">
                <input type="text" name="username" placeholder="Enter your username..." required>
                <p>Password</p>
                <input type="password" name="password" placeholder="Enter your password..." required>
                <button class="confirma" type="submit">Confirm</button>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flashes">
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        {% endif %}
    </div>
</body>
</html>
