<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ movie.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='moviestyle.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <a href="/"><button id="logo" class="botao_logo">Movies Tavern</button></a>
            <div class="nav-search-container">
                <nav>
                    <ul>
                        {% if 'user_id' in session %}
                            <li><a href="/perfil"><img src="{{ url_for('static', filename='chinchilla.png') }}" class="icone-perfil"></a></li>
                            <li><a href="/" class="home">Home</a></li>
                        {% else %}
                            <li><a href="/login">Sign in</a></li>
                            <li><a href="/form">Create account</a></li>
                            <li><a href="/">Home</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <form class="barra-pesquisa" action="/search" method="GET">
                    <input type="text" name="query" placeholder="Search..." required>
                    <button type="submit" class="botao-pesquisa">
                        <img src="{{ url_for('static', filename='pesquisa-de-lupa.png') }}" alt="Lupa" class="icone-lupa">
                    </button>
                </form>
            </div>
        </div>
    </header>
    <div class="main-content">
        <div class="movie-details">
            <div class="imagem-filme-container">
                {% if movie.poster_path %}
                    <img class="imagem-filme" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} poster">
                {% else %}
                    <img class="imagem-filme" src="{{ url_for('static', filename='noimage_door.png') }}" alt="{{ movie.title }} poster">
                {% endif %}
                <div class="av_favorito_container">
                    <div class="favorito">
                        <input type="checkbox" id="btn-favoritar" class="favoritar-checkbox" onclick="toggleFavorite('{{ movie_id }}')" {% if is_favorite %}checked{% endif %}>
                        <label for="btn-favoritar" class="favoritar-label"></label>
                    </div>
                    <div class="avaliacao-container">
                        <button id="btn-avaliar">Rate</button>
                        <ul class="avaliacao desabilitada">
                            <li class="star-icon" data-avaliacao="1"></li>
                            <li class="star-icon" data-avaliacao="2"></li>
                            <li class="star-icon" data-avaliacao="3"></li>
                            <li class="star-icon" data-avaliacao="4"></li>
                            <li class="star-icon" data-avaliacao="5"></li>
                        </ul>
                        <button id="submit-rating" style="display: none;">Salvar</button>
                    </div>
                </div>
                
            </div>
            <div class="movie-info">
                <h1 class="titulto-filme">{{ movie.title }}</h1>
                <p>{{ movie.overview }}</p>
                <br><br><br>
                <div class="avaliacao-geral">
                    <h2>Average rating</h2>
                    <p>{{ average_rating }} / 5</p>
                </div>
            </div>
        </div>
        <div class="elenco">
            <h2>Cast</h2><br>
            <ul id="cast-list">
                {% for member in cast[:10] %}
                    <li>{{ member.name }} - {{ member.character }}</li>
                {% endfor %}
            </ul>
            {% if cast|length > 10 %}
                <div class="button-container">
                    <button id="show-more" onclick="showMoreCast()">Show all</button>
                    <button id="show-less" onclick="showLessCast()" style="display: none;">Show less</button>
                </div>
                {% endif %}
        </div>
    </div>
    <div id="full-cast-data" style="display: none;">{{ cast|tojson }}</div>
    <script src="{{ url_for('static', filename='rating.js') }}"></script>
</body>
</html>
