<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movies Tavern</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='perfil.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <a href="/"><button id="logo" class="botao_logo">Movies Tavern</button></a>
            <div class="nav-search-container">
                <nav>
                    <ul>
                        {% if 'user_id' in session %}
                            <li><a href="message" class="Mensagem">message</a></li>
                            <li><a href="/perfil"><img src="{{ url_for('static', filename='campones.jpg') }}" class="icone-perfil"></a></li>
                            <li><a href="/" class="home">Home</a></li>
                        {% else %}
                            <li><a href="/login">Sign in</a></li>
                            <li><a href="/form">Create account</a></li>
                            <li><a href="/">Home</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <form class="barra-pesquisa" action="/search" method="GET">
                    <input type="text" name="query" placeholder="Search..." required>
                    <button type="submit" class="botao-pesquisa">
                        <img src="{{ url_for('static', filename='pesquisa-de-lupa.png') }}" alt="Lupa" class="icone-lupa">
                    </button>
                </form>
            </div>
        </div>
    </header>
    <div class='perfil'>
        <div class="foto-perfil">
            <img src="{{ url_for('static', filename='campones.jpg') }}" class="icone-perfil-grande">
        </div>
        <div class="descricao-perfil">
            <nav>
                <ul class="nome-perfil">{{ usuario }}</ul>
                <br>
                <ul class="classe-perfil">Class: {{ classe }}</ul>
                <br>
                <a href="{{ url_for('logout') }}"><button class="botao-logout">Sign out</button></a>
            </nav>
        </div>
    </div>
    <div class="filme-section">
        <div class="titulo-section">
            <h2 class="titulo-lista">Favorite movies</h2>
            <div class="button-container">
                <a id="show-more" onclick="showMoreFavorite()">Show all</a>
                <a id="show-less" onclick="showLessFavorite()">Show less</a>
            </div>
        </div>
        <div class="filme-container">
        {% for movie in favorito %}
            <div class="favorito-item">
                <div class="retangulo">
                    {% if movie.poster_path %}
                        <form action="{{ url_for('movie_detail', movie_id=movie.id) }}">
                            <button type="submit" class="image_botao">
                                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} poster" class="retangulo">
                            </button>
                        </form>
                    {% else %}
                        <form action="{{ url_for('movie_detail', movie_id=movie.id) }}">
                            <button type="submit" class="image_botao">
                                <img class="retangulo" src="static/noimage_door.png" alt="{{ movie.title }} poster">
                            </button>
                        </form>
                    {% endif %}
                </div>
                <h3><a class="filme-titulo" href="{{ url_for('movie_detail', movie_id=movie.id) }}">{{ movie.title }}</a></h3>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="filme-section">
        <div class="titulo-section">
            <h2 class="titulo-lista">Recent reviews</h2>
            <div class="button-container">
                <a id="show-more-reviews" onclick="showMoreReviews()">Show all</a>
                <a id="show-less-reviews" onclick="showLessReviews()">Show less</a>
            </div>
        </div>
        <div class="filme-container">
            {% for movie in recent_reviews %}
            <div class="review-item">
                <div class="retangulo">
                    {% if movie.poster_path %}
                        <form action="{{ url_for('movie_detail', movie_id=movie.id) }}">
                            <button type="submit" class="image_botao">
                                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} poster" class="retangulo">
                            </button>
                        </form>
                    {% else %}
                        <form action="{{ url_for('movie_detail', movie_id=movie.id) }}">
                            <button type="submit" class="image_botao">
                                <img class="retangulo" src="static/noimage_door.png" alt="{{ movie.title }} poster">
                            </button>
                        </form>
                    {% endif %}
                </div>
                <h3><a class="filme-titulo" href="{{ url_for('movie_detail', movie_id=movie.id) }}">{{ movie.title }}</a></h3>
            </div>
        {% endfor %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='rating.js') }}"></script>
</body>
</html>
