<!DOCTYPE html>

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movies Tavern</title>
    <link rel="stylesheet" href="static/buscastyle.css">
</head>
<body>
    <header>
        <div class="container">
            <h1 id="logo">Movies Tavern</h1>
            <nav>
                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Criar conta</a></li>
                    <li><a href="/">Início</a></li>
                </ul>
            </nav>
            <form class="barra-pesquisa" action="/search" method="GET">
                <input type="text" name="query" placeholder="Pesquisar..." required>
                <button type="submit" class="botao-pesquisa">
                    <img src="static/pesquisa-de-lupa.png" alt="Lupa" class="icone-lupa">
                </button>
            </form>
        </div>
    </header>
    <h2>Resultados da pesquisa:</h2><br><br>
    <div class="search-section">
        {% if movies %}
                {% for movie in movies %}
                    <div class="column">
                        <h3><a href="{{ url_for('movie_detail', movie_id=movie.id) }}">{{ movie.title }}</a></h3>
                        {% if movie.poster_path %}
                            <form action="{{ url_for('movie_detail', movie_id=movie.id) }}">
                                <button type="submit" class="image_botao">
                                        <img  class="image_movie" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} poster">
                                </button>
                            </form>
                        {% else %}
                            <form action="{{ url_for('movie_detail', movie_id=movie.id) }}">
                                <button type="submit" class="image_botao">
                                    <img  class="no_image_movie" src="static/noimage_door.png" alt="{{ movie.title }} poster">
                                </button>
                            </form>
                        {% endif %}
                    </div>
                {% endfor %}
        {% else %}
        <p>Não foram encontrados resultados para essa pesquisa</p>
        {% endif %}
    </div>
</body>
</html>