<!DOCTYPE html>

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movies Tavern</title>
    <link rel="stylesheet" href="static/buscastyle.css">
</head>
<body>
    <header>
        <div class="container">
            <a href="/"><button id="logo" class="botao_logo">Movies Tavern</button></a>
            <div class="nav-search-container">
                <nav>
                    <ul>
                        {% if 'user_id' in session %}
                            <li><a href="/perfil"><img src="{{ url_for('static', filename='chinchilla.png') }}" class="icone-perfil"></a></li>
                            <li><a href="/" class="home">Home</a></li>
                        {% else %}
                            <li><a href="/login">Sign in</a></li>
                            <li><a href="/form">Create account</a></li>
                            <li><a href="/">Home</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <form class="barra-pesquisa" action="/search" method="GET">
                    <input type="text" name="query" placeholder="Search..." required>
                    <button type="submit" class="botao-pesquisa">
                        <img src="static/pesquisa-de-lupa.png" alt="Lupa" class="icone-lupa">
                    </button>
                </form>
            </div>
        </div>
    </header>
    <h2>Resultados para '{{query}}':</h2><br><br>
    <div class="search-section">
        {% if movies %}
                {% for movie in movies %}
                    <div class="column">
                        <h3><a href="{{ url_for('movie_detail', movie_id=movie.id) }}">{{ movie.title }}</a></h3>
                        {% if movie.poster_path %}
                            <form action="{{ url_for('movie_detail', movie_id=movie.id) }}">
                                <button type="submit" class="image_botao">
                                        <img  class="image_movie" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} poster">
                                </button>
                            </form>
                        {% else %}
                            <form action="{{ url_for('movie_detail', movie_id=movie.id) }}">
                                <button type="submit" class="image_botao">
                                    <img  class="no_image_movie" src="static/noimage_door.png" alt="{{ movie.title }} poster">
                                </button>
                            </form>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="pagination">
                    {% if page > 1 %}
                        <a href="{{ url_for('search', query=query, page=page-1) }}">Anterior</a>
                    {% endif %}
    
                    {% for p in pagination_range(page, total_pages) %}
                        {% if p %}
                            <a href="{{ url_for('search', query=query, page=p) }}" class="{{ 'active' if p == page else '' }}">{{ p }}</a>
                        {% else %}
                            <span>...</span>
                        {% endif %}
                    {% endfor %}
    
                    {% if page < total_pages %}
                        <a href="{{ url_for('search', query=query, page=page+1) }}">Próxima</a>
                    {% endif %}
                </div>
        {% else %}
            <p>Não foram encontrados resultados para essa pesquisa</p>
        {% endif %}
    </div>
</body>
</html>