<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movies Tavern</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>    
    <header>
        <div class="container">
            <a href="/"><button id="logo" class="botao_logo">Movies Tavern</button></a>
            <div class="nav-search-container">
                <nav>
                    <ul>
                        {% if 'user_id' in session %}
                            <li><a href="/perfil"><img src="{{ url_for('static', filename='chinchilla.png') }}" class="icone-perfil"></a></li>
                            <li><a href="/" class="home">Home</a></li>
                        {% else %}
                            <li><a href="/login">Sign in</a></li>
                            <li><a href="/form">Create account</a></li>
                            <li><a href="/">Home</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <form class="barra-pesquisa" action="/search" method="GET">
                    <input type="text" name="query" placeholder="Search..." required>
                    <button type="submit" class="botao-pesquisa">
                        <img src="{{ url_for('static', filename='pesquisa-de-lupa.png') }}" alt="Lupa" class="icone-lupa">
                    </button>
                </form>
            </div>
        </div>
    </header>
    <img class="backimg" src="{{ url_for('static', filename='tavern.jpg') }}">    
    <div class="filme-section">
        <h2 class="titulo-lista">Featured Movies</h2>
        <div class="filme-container">
            {% for movie in featured_movies %}
                <div class="filme-item">
                    <div class="retangulo">
                        {% if movie.poster_path %}
                            <form action="{{ url_for('movie_detail', movie_id=movie.id) }}">
                                <button type="submit" class="image_botao">
                                    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} poster" class="retangulo">
                                </button>
                            </form>
                        {% endif %}
                    </div>
                    <h3><a class="filme-titulo" href="{{ url_for('movie_detail', movie_id=movie.id) }}">{{ movie.title }}</a></h3>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
