<!DOCTYPE html>

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movies Tavern</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <div class="container">

            <h1 id="logo">Movies Tavern</h1>
            <nav>
                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Criar conta</a></li>
                    <li><a href="/">Início</a></li>
                </ul>
            </nav>
            <form class="barra-pesquisa" action="/search" method="GET">
                <input type="text" name="query" placeholder="Pesquisar..." required>
                <button type="submit" class="botao-pesquisa">
                    <img src="static/pesquisa-de-lupa.png" alt="Lupa" class="icone-lupa">
                </button>
            </form>
            
        </div>
    </header>
    <img class="backimg" src="static/tavern.jpg">
    
    <div class="filme-section">
        <h2 class="titulo-lista">Filmes em destaque</h2>
        <div class="filme-container">
            <div class="filme-item">
                <div class="retangulo"></div>
                <h3 class="filme-titulo">Título 1</h3>
            </div>
            <div class="filme-item">
                <div class="retangulo"></div>
                <h3 class="filme-titulo">Título 2</h3>
            </div>
            <div class="filme-item">
                <div class="retangulo"></div>
                <h3 class="filme-titulo">Título 3</h3>
            </div>
            <div class="filme-item">
                <div class="retangulo"></div>
                <h3 class="filme-titulo">Título 4</h3>
            </div>
            <div class="filme-item">
                <div class="retangulo"></div>
                <h3 class="filme-titulo">Título 5</h3>
            </div>
            <div class="filme-item">
                <div class="retangulo"></div>
                <h3 class="filme-titulo">Título 6</h3>
            </div>
        </div>
    </div>
</body>
</html>
